<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/biblioteca</property>
        <property name="connection.username">root</property>
        <!-- <property name="connection.password">tu_contraseña</property> -->

        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">update</property>

        <!-- Mapeo de entidades -->
        <mapping class="org.example.javafx_hibernate.entities.Autor"/>
        <mapping class="org.example.javafx_hibernate.entities.Libro"/>
        <mapping class="org.example.javafx_hibernate.entities.Socio"/>
        <mapping class="org.example.javafx_hibernate.entities.Prestamo"/>
    </session-factory>
</hibernate-configuration>