.rojo{
    color: red;
}

#azul{
    color: blue;
}

#verde{
    color: green;
}

div{
    h2{
        color: orange;
    }
    h3{
        color: purple;
    }
}

#caja{
    border: 3px solid red;
    p{
        padding: 5px;
        border: 5px dashed blue;
    }
}